[Desktop Entry]
Version=1.0
Name=youtube afimpel
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=firefox https://youtube.com/playlist?list=PLO9gTxFm8ywbVwIki0QZzCAzuRcpUUJ2M&si=bFXkE7j-xxPgv-I9
Icon=youtube
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
StartupWMClass=firefox
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;
X-XFCE-Source=file:///usr/share/applications/firefox.desktop
